
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'style';

body {
  font-family: "TypeMates",
  sans-serif !important;
}

a {
  text-decoration: none;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
}